$color-brand-dark: #300082;
$color-brand-light: #4300a0;
$color-dark: #151515;
$color-gray: #333;
$color-gray-light: #555;
$color-gray-light2: #3a3a3a;
$color-status-no: red;
$color-status-ok: lightgreen;
$color-text: #fff;
